/*     *     color pallette     *
yellow  rgb(148,207,215)   dark rgb(219,239,238)    light     rgb(248,243,221)       
pink rgb(148,207,215)   dark pink  rgb(233,73,128)  light pink rgb(252,216,226)   whit pink rgb(251,241,242)
aqua  rgb(148,207,215)  light rgb(219,239,238)  medium rgb(196,224,225)
slate grey rgb(112, 128, 144)
*/

/*   google font-families
font-family: 'Anton', sans-serif;
font-family: 'Tsukimi Rounded', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Ysabeau', sans-serif;
*/


/*
Here are some general guidelines for using em, rem, and px:
    - Use px for small, fixed-size elements like borders or shadows.
    - Use em for typography and other scalable elements that need to change size relative to their parent element.
    - Use rem for scalable typography and responsive layouts that need to change size relative to the root element.
*/





/* global styles for all elements on the page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* anchor (<a>) element */
a {
    color: inherit;
    /* color: inherit: property sets the text color of the anchor element to inherit the color of its parent element. anchor element will have the same text color as its parent element, allowing it to blend seamlessly with the surrounding content.
    text-decoration: none;*/

    text-decoration: none;
    /* property removes the default underline decoration from the anchor element's text. By setting it to none, the anchor text will appear without any underlines, cleaner, streamline appearance */
}


body {
    background-color: rgb(112, 128, 144, .3);
    /* side colors */
    /*background-image: url("#"); 
    background-repeat: ;   */
    /*(use to add decorative design on top of background color to stylize sides to match promo ex: confetti or grad hats/diplomas for graduation promo)*/
    color: rgb(112, 128, 144);
    /* color of the text content inside the element */
    font-family: 'Ysabeau', sans-serif;
    /* specific font name, and if that font is not available, it falls back to a generic sans-serif font */
    font-weight: 400;
}

/*  text   */
p {
    font-size: 1.5rem;
    /* equivalent to 24 px at full size */
}

/*  container element - holds header + sidebar + main + footer - sets padding for body background color and design   */
.container {
    max-width: 1250px;
    /*    should min-width be set for responsiveness ex: 300px  */
    margin: 0 auto;
    /*  centers the container horizontally, left & right margins to auto, the top & bottom margins to 0 */
    padding: 0 3.75rem;
    /*  sets the padding of container: 0px top & bottom, 60 px left & right. Padding creates the space between the content & side border  */
    display: grid;
    grid-template-columns: 0.4fr 0.3fr 0.3fr;
    /* defines the columns of the grid: 0.4fr, 0.3fr, and 0.3fr = fraction of the available space each column should occupy. In this case, the first column will take 40% of the available space, and the second and third columns will each take 30% of the available space. */

    grid-column-gap: 10px;
    /* creates space between the grid items in the horizontal direction */
    grid-row-gap: 18px;
    /* creates space between the grid items in the vertical direction */
    background-color: #fff;
}



.header {
    grid-column: 1 / 4;
    /* sets the header element to span from the first column to the fourth column in the grid layout */
    grid-row: 1 / 2;
    color: #9f9c9c;
    text-transform: uppercase;
    border-bottom: 2px solid rgb(219, 239, 238);
    /* aqua border line -  horizontal line below the header  */
    padding: .5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 999;


    transition: background-color 0.3s ease, color 0.3s ease;

}


.header.scrolled {
    background-color: #693f7e;
    color: #fff;
}

/* header nav links */
.header nav ul {
    display: flex;
    /*     align-items: baseline; */
    list-style-type: none;
}

.header nav li {
    margin-right: 2rem;
    /* adds a right margin to each list item (li) inside the navigation links, creates spacing between each navigation link item  */
}


/* Logo */
.logo {
    width: 25%;
    margin-left: 5%;
}

#header-img {
    max-width: 9.375rem;
    /* 150px / 16px = 9.375rem */
    max-height: 5rem;
    /* 80px / 16px = 5rem */
    ;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 0.3125rem;
    /* 5px / 16px = 0.3125rem */
}

#facebook-qr {
    width: 10%;
    margin-left: 5%;
}


/* HERO - CONTACT / ORDER */
#hero {
    font-size: 1rem;
    /* 16px / 16px = 1rem */
    line-height: 2rem;
    /* 2rem looks better! 25px / 16px = 1.5625rem */
    margin-bottom: 0.625rem;
    /* 10px / 16px = 0.625rem */
    padding: 1.25rem;
    /* 20px / 16px = 1.25rem */
    color: rgb(112, 128, 144);
    grid-column: 1 / 2;
    grid-row-start: 2 / 3;
    background-color: rgb(252, 216, 226);
    min-height: 18.75rem;
    /* 300px / 16px = 18.75rem */
}


button {
    border: none;
    padding: 8px 25px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border-radius: 1.25rem;
    background-color: rgb(148, 207, 215);
    padding: 1rem;
    margin-top: 2rem;
}


/* hero box background image 
.hero-unit img {
    width: 100%; 
    height: auto;   
   }
*/


/*   video   */
.video-container {
    margin-bottom: 1rem;
    align-items: center;
}

#video {
    border-width: 0.9375rem;
    /* 15px / 16px = 0.9375rem */
    border-color: rgb(112, 128, 144);
    align-items: center;
    align-content: center;
    height: 25rem;
    /* 400px / 16px = 25rem */
    width: 37.5rem;
    /* 600px / 16px = 37.5rem */
}


/*   old code
.video-container {
    margin-bottom: 1rem;
    margin-bottom: 1rem;
    align-items: center;
}

#video {
    border-width: 15px;
    border-color: rgb(112, 128, 144);
    align-items: center;
    align-content: center;
    height: 100%;
    height: 400px;
    width: 600px;
} */

/*   video   
.video-container {
    width: 100%; 
    padding-bottom: 35.25%;
    margin-bottom: 7%;
    position: relative;
#video{
    height: 100%;
    max-height: 900px;
}
*/



/* SIDEBAR */
.sidebar {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    padding: 20px;
    border-top: 3px solid #693f7e;
    border-bottom: 3px solid #693f7e;
    background-color: #d5c9e2;
}

.sidebar h3 {
    margin-top: .75rem;
}

/* sidebar R\fb related post */
.sidebar ul {
    padding-left: 0.625rem;
    /* 10px / 16px = 0.625rem */
    margin-top: 1rem;
    font-size: 1rem;
}

/*  sidebar bullet list - related content    */
.sidebar ul>li {
    padding: 0.15625rem 0;
    /* 2.5px / 16px = 0.15625rem */
    font-size: 0.875rem;
    /* 14px / 16px = 0.875rem */
    letter-spacing: 0.0625rem;
    /* 1px / 16px = 0.0625rem */
    line-height: 1.25rem;
    /* 20px / 16px = 1.25rem */

    padding-left: 0.3125rem;
    /* 5px / 16px = 0.3125rem */

    color: rgb(112, 128, 144);
}

.sidebar img {
    max-width: 100%;
}

/* end sidebar */





/*  main    */
.main {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    align-content: center;
    /*   min-height: 500px; */
}

/*  title & promo tag - cooresponds with header   */
.main h1 {
    font-family: 'Tsukimi Rounded', sans-serif;
    font-size: 2rem;
    /* 32px / 16px = 2rem */
    margin-bottom: 2rem;
    margin-top: 2rem;
    color: #50c6db;
    text-align: center;
}


/*  main features - bold text    */
.main h2 {
    font-size: 1.5rem;
    /* 24px / 16px = 1.5rem */
    margin-bottom: 1rem;
    color: #50c6db;
    text-align: center;
}


/*  main features - feature detail info    */
.main p {
    font-size: 1rem;
    margin-bottom: .75rem;
}

/* features section */
#overview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 2rem;
    /* Adjust the value as needed using rem or em units */
}


/* features grid */
.grid {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Two columns with equal width */
    gap: 25px;
}

@media screen and (max-width: 768px) {

    /* Media query for screens with a maximum width of 768px (such as tablets) */
    .grid {
        flex-direction: column;
    }
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
}


/* features font awesome icons */
.icon {
    width: 15vw;
    display: flex;
    justify-content: center;
    color: rgb(73, 43, 122);
}

.main img {
    width: 100%;
}



.extra {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-content: center;
    align-items: center;
}

.extra-images #stand-out {
    border: 10px solid rgb(219, 239, 238);
}


.extra-images .icon {
    flex: 1 1 90px;
}

.extra-images .icon img {
    max-width: 100%;
    max-width: 200px;

}

/*
border: 2px solid rgb(219, 239, 238); */

.extra h3 {
    font-weight: 500;
    color: rgb(112, 128, 144);
    margin-bottom: 1rem;
    margin-top: 1rem;
    flex: 1 0 auto;
    padding: 10px;
}

.extra p {
    font-size: .75rem;
    margin-bottom: .75rem;

}

/* button for 3 boxes for links to sizing, colors, etc (links to full webpage content or facebook post with sizing, colors, ordering?)
.extra button {
  background-color: white;
  border: 2px solid #50c6db;
  color: #50c6db;
  padding: .5rem;
}*/

.content-block-info {
    flex: 0 1 calc(33% - .5rem);
}


.related-images {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: auto;
    max-height: 348.8px;
    min-width: 150px;
}

.related-images .icon {
    flex: 1 1 150px;
    max-height: 279.9px;
    min-width: 150px;   
}

.related-images .icon img {
    max-width: 100%;
}

.related-posts {
    background-color: #d5c9e2;
    border-top: 3px solid #693f7e;
    border-bottom: 3px solid #693f7e;
    grid-column: 3 / 4;
    grid-row: 5 / 6;
    padding: .5rem;
    margin-left: 1rem;
}

.related-posts h4 {
    margin-bottom: .5rem;
    padding-bottom: .5rem;
    font-size: 1.5rem;
    border-bottom: 1px solid #ececec;
}

.related-posts ul {
    margin-left: 1.5rem;
}




/* footer */
footer {
    grid-column: 1 / 4;
    grid-row: 6 / 7;
    color: #fff;
    text-align: center;

    background-color: #50c6db;
    line-height: 2rem;
}

footer h3{
    margin-top: 1rem;
}
footer h2 {
    color: rgb(233, 73, 128);
    padding: .5rem;
}
footer p {
    color: #434344;
    font-size: 0.75rem;
    padding: .5rem;
}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: auto;
    margin-right: auto;
    padding: .5rem;
}


/*
.contact-item i {
    margin-right: 0.5rem;
}   */



/* Responsive styles */
@media (max-width: 768px) {
    .contact-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}



.footer-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-top: 1rem;
}

.footer-nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.footer-nav li {
    margin: 0 1rem;
}


/*  end of footer   */



/* MEDIA  */


/*      max-width: 425px      */
@media only screen and (max-width: 425px) {
    body {
        background-color: white;
        align-items: center !important;
    }

nav{
    margin-bottom: 1050px;
    margin-left: -50px;
    font-size:8px;
}

.logo {
    width: 25%;
    margin-left: 5%;
    margin-bottom: 700px !important;
   
}

#facebook-qr{
display: none;
}

    footer {
        align-items: center !important;
    }

    #video {
        display: none;
    }

    .video-container {
        margin-bottom: 1rem;
        align-items: center;
    }

    .extra {
        display: none;
    }

    .extra-images {
        display: none;
    }

    /* images at bottom of main */
    .related-images {
        display: none;
    }

    .related-posts {
        grid-column: 1/1;
    }

    /* .div1 { grid-area: 1 / 2 / 2 / 3; }
.div2 { grid-area: 2 / 2 / 3 / 3; }
.div3 { grid-area: 3 / 2 / 4 / 3; }
.div4 { grid-area: 4 / 2 / 5 / 3; }
.div5 { grid-area: 5 / 2 / 6 / 3; } */

}



/*      max-width: medium screens for tablets, ipads, etc ipad mini = 768px??? not sure how to set it up  = ew 2 columns   */

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        /* Change to a single column layout */
    }

    .sidebar {
        grid-column: 1;
        /* Move the sidebar to the first column */
        grid-row: 2;
        /* Place it below the main section */
    }

    .main {
        grid-column: 1;
        /* Move the main section to the first column */
        grid-row: 1;
        /* Place it above the sidebar */
    }
}
